In [4]:
import pandas as pd

#### CREATING SERIES

In [11]:
first_series = pd.Series([1,2,3,4,5,6])
second_series = pd.Series([2,4,6,8,10,12])
third_series = pd.Series(["a", "b", "c", "d", "e", "f"])

In [17]:
# first_series

In [18]:
# second_series

##### CREATING DATAFRAMES

In [15]:
first_df = pd.DataFrame(dict(first_series = first_series, second_series= second_series, third_series=third_series))

In [16]:
first_df

   first_series  second_series third_series
0             1              2            a
1             2              4            b
2             3              6            c
3             4              8            d
4             5             10            e
5             6             12            f

### Export dataframe as csv

In [19]:
first_df.to_csv("data.csv")